<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Customer Details</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <!-- DATA TABLES 
        <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />-->
</head>
<body ng-controller="ContactController">
<div style="width:100%; ">
        <div class="panel panel-default well-light" style="margin:50px auto 0; float:none; width:80%">
          <div class="panel-heading" style="display:table; width:100%">
          <h4 class="no-margin-bottom margin-top-5 pull-left">Customer Details </h4>
                <div class="input-group col-md-3 pull-right margin-left-10">
                  <input type="text" ng-model="searchByText" class="form-control input-sm" placeholder="Search by name" style="z-index:0">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
              <div class="input-group pull-right">
                  <input type="button" name="addNewBtn" value="Add New" ng-click="addNew()" class="btn btn-primary btn-sm" />
              </div>
          </div>
          <div class="panel-body">
          <table style="width:100%">
              <tr>
                  <td valign="top">
                      
            <table id="customerTable" class="table table-striped table-bordered table-hover no-margin-bottom" style="border-right: 0;">
                <thead>
                    <tr>
                        <th ng-click="orderByChange()" style="cursor:pointer"><i id="orderIcon" class="fa "></i> Name</th>
                        <!-- <th class="hidden-sm hidden-xs">Email</th>
                        <th class="hidden-sm hidden-xs">location</th> -->
                        <th class="hidden-sm hidden-xs">Phone</th>
                        <th class="text-center" style="border-right: 0;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts | orderBy:orderByObject | filter:searchByText" ng-click="showDetailBox(contact)" id="{{contact.id}}">
                        <td style="text-transform:capitalize">{{ contact.name }}</td>
                        <!-- <td class="hidden-sm hidden-xs">{{ contact.email }}</td>
                        <td class="hidden-sm hidden-xs">{{ contact.location }}</td> -->
                        <td class="hidden-sm hidden-xs">{{ contact.phone }}</td>
                        <td class="text-center" style="border-right: 0;">
                            <div class="pull-right" style="margin-right: -8px;margin-top: 3px;"></div>
                             <a class="btn btn-success btn-xs" href="javascript:void(0)" ng-click="edit(contact.id)"><i class="fa fa-edit"></i></a>  
                             <a class="btn btn-danger btn-xs" href="javascript:void(0)" ng-click="delete(contact)"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-show="contacts.length==0">
                        <td colspan="3">No records found</td>
                    </tr>
                </tfoot>
            </table>
                  </td>
                  <td valign="top" class="shadow" style="width:50%;border:solid 1px #ccc;background-color:#F5FFFF;padding:20px">
                      <div ng-show="selectedCustomer.length!=0" >
                          <h3>{{selectedCustomer.name}}'s Details</h3>
                          <dl class="dl-horizontal">
                              <dt>Customer Id :</dt>
                              <dd><i class="fa fa-key"></i> {{selectedCustomer.id}}</dd>
                              <dt>Customer Name :</dt>
                              <dd style="text-transform:capitalize"><i class="fa fa-user"></i> {{selectedCustomer.name}}</dd>
                              <dt>Phone Number :</dt>
                              <dd><i class="fa fa-phone"></i> {{selectedCustomer.phone}}</dd>
                              <dt>Email Address :</dt>
                              <dd><i class="fa fa-envelope"></i> {{selectedCustomer.email}}</dd>
                              <dt>Location :</dt>
                              <dd style="text-transform:capitalize"><i class="fa fa-map-marker"></i> {{selectedCustomer.location}}</dd>
                          </dl>
                      </div>
                      <div ng-show="selectedCustomer.length==0"><h3>No row has been selected</h3></div>
                  </td>
              </tr>
          </table>
        </div>
</div>
</div>

    <div class="bg-transparant"></div>
    <div class="dialog-box">
        <div class="panel panel-default well-light"style="width: 320px;">
          <div class="panel-heading">Add New Customer
                <a href="javascript:void(0);" class="pull-right" style="    position: relative;" ng-click="close()
                "><i class="fa fa-times-circle"></i></a>
          </div>
          <div class="panel-body">
            <form id="custom_form" >
                <div class="input-group col-md-12">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input type="text" required name="name" ng-model="newcontact.name" class="form-control" placeholder="Customer Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-md-12 margin-top-15">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                  <input type="email" required name="email" ng-model="newcontact.email" class="form-control" placeholder="Email Address" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-md-12 margin-top-15">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile"></i></span>
                  <input type="number"  maxlength="10" required name="phone" ng-model="newcontact.phone" class="form-control" placeholder="Mobile Number" aria-describedby="basic-addon1">
                </div>
                <div class="input-group col-md-12 margin-top-15">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
                  <input type="text" required name="location" ng-model="newcontact.location" class="form-control" placeholder="Location (optional)" aria-describedby="basic-addon1">
                </div>
            <br/>
            <input type="hidden" ng-model="newcontact.id" />
            <input type="submit" value="Save" ng-click="saveContact()" class="btn btn-primary btn-sm" />
            <input type="reset" value="Cancel" ng-click="close()" class="btn btn-default btn-sm" />
        </form>
          </div>
        </div>
    <div>
        
    </div>
</div>
    <!-- jQuery 2.1.3-->
    <script src="js/jquery-1.11.1.min.js"></script> 
    <!-- JQUERY VALIDATE -->
    <script src="js/jquery.validate.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    <!-- DATA TABES SCRIPT 
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->

    <script src="js/angular.js"></script>
    <script type="text/javascript" src="js/angularCtrl.js"></script>
    
</body>
</html>